
<div class="app-content-body ">


<div class="hbox hbox-auto-xs hbox-auto-sm">
  <!-- .col -->
  <div class="col">
    <div class="wrapper" ui-view ></div>

      <ul class="timeline">
          <li class="tl-header">
            <div class="btn btn-sm btn-default btn-rounded">more</div>
          </li>
          <li class="tl-item tl-left" ng-repeat="tObj in $ctrl.tObjs">
            <div class="tl-wrap b-white">
              <span class="tl-date">{{tObj.created | date:"dd MMM yyyy hh:ss"}}</span>
              <div class="tl-content panel padder b-a">
                <span class="arrow left pull-up hidden-left"></span>
                <span class="arrow right pull-up visible-left"></span>
                <div class="text-lt m-b-sm row">
                    <h5 class="col-sm-8">{{tObj.type | uppercase}}</h5>
                    <div class="col-sm-4 text-right">
                        <button ng-click="$ctrl.delete(tObj)" class="btn m-b-xs btn-sm btn-default btn-addon">
                        <i class="fa fa-trash-o"></i>Delete</button>
                    </div>
                </div>
                <div class="panel-body pull-in b-t b-light">
                  <tcomponent action="{{tObj.taction}}" tobj="tObj" on-update="$ctrl.ontObjUpdate(tObj)"/>
                </div>
              </div>
            </div>
          </li>
        </ul>

      </div>
      <!-- /.col -->
    </div>

    </div>

    <div id="tmln-maininput" class="app-footer app-footer-fixed">
      <maininput on-update="$ctrl.onPost(tObjRaw)"></maininput>
    </div>
