<div class="row">
   <div class="form-group">
     <label class="col-sm-2 control-label">Description:</label>
    <div class="col-sm-9">
      <textarea ui-tinymce="tinymceOptions" ng-model="$ctrl.tText"></textarea>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="form-group">
    <label class="col-sm-2 control-label">Status</label>
    <div class="col-sm-9">
      <div class="checkbox">
        <input type="checkbox"
              ng-model="$ctrl.data.closed"
              ng-change="$ctrl.updateData()"
              name="closed"></input>
              Closed
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="form-group">
    <label class="col-sm-2 control-label">Due date:</label>
    <div class="col-sm-9">
      <div class="input-group w-md">
        <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.tDueDate" is-open="$ctrl.opened" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="$ctrl.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="form-group">
    <label class="col-sm-2 control-label">Due time:</label>
      <div class="col-sm-6">
          <div uib-timepicker ng-model="$ctrl.tDueTime" hour-step="$ctrl.hstep" minute-step="$ctrl.mstep" show-meridian="$ctrl.ismeridian"></div>
      </div>
  </div>
</div>
<div class="clearfix"></div>
<div  class="col-sm-2"><button class="btn btn-primary" type="submit">Save</button></div>
<div class="clearfix"></div>
